<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" (click)="closeModel()" class="btn-close" data-bs-dismiss="modal"
        aria-label="Close"></button>
      <div class="row">
        <div class="col-md">
          <h4 class="modal_head">{{ program ? "Update" : "Add" }} Program</h4>
          <p class="modal_sub_head">Enter The details and marked</p>
        </div>
      </div>
      <div class="modal_tabs">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
              type="button" role="tab" aria-controls="pills-home" aria-selected="true">
              {{ program ? "Update" : "Add" }} Single
            </button>
          </li>
          <li class="nav-item" role="presentation" *ngIf="!program">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
              type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
              Bulk Import
            </button>
          </li>
        </ul>

        <div class="tab-content" id="pills-tabContent">
          <!-- Single Add / Update -->
          <div class="tab-pane fade show active" id="pills-home">
            <form [formGroup]="programForm" (ngSubmit)="onSubmit()">

              <!-- Hidden ID, used internally for Update -->
              <input type="hidden" formControlName="climateProgramID" />

              <div class="row">
                <div class="col">
                  <div class="input_field">
                    <label>Enter Program Name *</label>
                    <input type="text" formControlName="programName" appAlphaOnly placeholder="Enter Program Name"
                      class="form-control" maxlength="256" />
                    <div class="error-msg" *ngIf="
                        programForm.get('programName')?.invalid &&
                        (programForm.get('programName')?.touched || isSubmitted)
                      ">
                      Program name is required.
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="input_field">
                    <label>Enter Year *</label>
                    <input type="number" formControlName="year" placeholder="Enter Climate Program Starting Year" class="form-control" />
                    <div class="error-msg" *ngIf="
                        programForm.get('year')?.invalid &&
                        (programForm.get('year')?.touched || isSubmitted)
                      ">
                      Year is required.
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="input_field">
                    <label>Enter Location *</label>
                    <input type="text" formControlName="location" placeholder="Enter Geographical Location for the Program" appAlphaOnly
                      class="form-control" maxlength="256" />
                    <div class="error-msg" *ngIf="
                        programForm.get('location')?.invalid &&
                        (programForm.get('location')?.touched || isSubmitted)
                      ">
                      Location is required.
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="input_field">
                    <label>Status *</label>
                    <select formControlName="status" class="form-control">
                      <option [ngValue]="null">Select Status</option>
                      <option *ngFor="let s of statusList" [value]="s">{{ s }}</option>
                    </select>
                    <div class="error-msg" *ngIf="
                        programForm.get('status')?.invalid &&
                        (programForm.get('status')?.touched || isSubmitted)
                      ">
                      Status is required.
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="input_field">
                    <label>Start Date *</label>
                    <input type="date" formControlName="startAt" class="form-control" />
                    <div class="error-msg" *ngIf="
                        programForm.get('startAt')?.invalid &&
                        (programForm.get('startAt')?.touched || isSubmitted)
                      ">
                      Start date is required.
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="input_field">
                    <label>End Date</label>
                    <input type="date" formControlName="endAt" class="form-control" />
                    <div class="error-msg" *ngIf="programForm.errors?.['dateRangeInvalid'] && (programForm.get('endAt')?.touched || isSubmitted)">
                      End date must be after start date.
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div class="row">
                <div class="col d-flex align-items-center">
                  <div class="input_field w-100">
                    <label class="d-block">Is Active</label>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" formControlName="isActive" />
                    </div>
                  </div>
                </div>
              </div> -->

              <div class="row">
                <div class="col-12">
                  <div class="input_field">
                    <label>Description *</label>
                    <textarea formControlName="description" placeholder="Enter Description related to the Program" class="form-control description"
                      rows="3" minlength="10" maxlength="2000"></textarea>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="input_field">
                    <label>Upload Image </label>
                    <input #imageInput type="file" (change)="onFileChange($event)" class="form-control" accept="image/*"
                      formControlName="imageFile" />
                    <div class="error-msg" *ngIf="
                        programForm.get('imageFile')?.invalid &&
                        (programForm.get('imageFile')?.touched || isSubmitted)
                      ">
                      Image is required.
                    </div>
                  </div>
                </div>
                <div class="col-md-6 d-flex align-items-center justify-content-center">
                    <div class="input_field">
                    <label>Preview Image </label>
                     <img [src]=" selectedImage ? selectedImage : program?.image ? urlBase + program?.image : 'assets/images/noImageAvailable.png' " class="pp_pic" (error)="onImgError($event)" [alt]="'Profile Image'" />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="input_field">
                  <label>Select peer programs</label>
                  <ng-select [items]="programList" bindValue="climateProgramID" bindLabel="programName"
                    formControlName="programs" [multiple]="true" class="form-control analyst_multi_select"
                    [searchable]="true" placeholder=" Select peer programs">
                    <ng-template ng-label-tmp let-item="item">
                      {{ item.programName }},
                    </ng-template>

                    <ng-template ng-option-tmp let-item="item">
                      {{ item.programName }}
                    </ng-template>
                  </ng-select>
                </div>
              </div>

              <button type="submit" class="common_button w-100 mt-4">
                {{ program ? "Update" : "Save" }}
                <span *ngIf="loading" class="spinner-border spinner-border-sm ms-2"></span>
              </button>
            </form>
          </div>

          <!-- Bulk Import -->
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0"
            *ngIf="!program">
            <div class="input_field">
              <label>
                Upload Excel File *
                <a href="javascript:void(0)" (click)="downloadTemplate()" class="ms-2 text-primary"
                  style="text-decoration: underline; cursor: pointer">
                  Download Template
                </a>
              </label>
              <input #fileInput type="file" accept=".xlsx, .xls" (change)="handleFileImport($event)"
                class="form-control" />
            </div>
            <div class="wrong_upload_alert">
              <p>{{ this.alertMsg }}</p>
            </div>
            <div class="d-flex justify-content-end mt-3">
              <button type="button" class="common_button" [disabled]="!this.bulkImportData?.length"
                (click)="bulkImportProgram()">
                Import
                <span *ngIf="loading" class="spinner-border spinner-border-sm ms-2"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>