<div class="modal-dialog modal-dialog-centered transfer_popup">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" (click)="closeModel()" class="btn-close" data-bs-dismiss="modal"
        aria-label="Close"></button>

      <h4 class="modal_head">Country AI Investigation Level</h4>

      <form [formGroup]="assesmentForm" (ngSubmit)="onSubmit()">

        <!-- Country Info -->
        <div class="details_list">
          <strong>Country:</strong>
          <span *ngIf="country">{{ country.countryName }} ({{ country.continent }})</span>
        </div>

        <!-- AI Import Options -->
        <h5 class="mt-3">Select AI content to import</h5>

        <div class="details_list" *ngFor="let opt of aiOptions">
          <span>{{ opt.label }}</span>
          <span><small>Estimated {{ opt.time }}</small></span>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" [formControlName]="opt.control" />
          </div>
        </div>

        <!-- Viewer Selection -->
        <div class="input_field mt-4" *ngIf="evaluatorList.length">
          <label>Assign evaluator as a viewers (optional)</label>

          <ng-select [items]="evaluatorList" bindLabel="userName" bindValue="userID" [multiple]="true"
            [searchable]="true" placeholder="Select users who can view AI results" formControlName="viewerUserIDs"
            class="form-control analyst_multi_select">
            <ng-template ng-label-tmp let-item="item" class="select_item">
              {{ item.fullName }}
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
              {{ item.fullName }}
            </ng-template>
          </ng-select>
        </div>
        <div class="input_field mt-4" *ngIf="country?.comment">
          <label>Evaluator Comment</label>
            <small>
              {{country?.comment}}
            </small>
        </div>

        <!-- Submit -->
        <button type="submit" [disabled]="loading" class="common_button w-100 mt-4">
          Run AI Research
          <span *ngIf="loading" class="spinner-border spinner-border-sm ms-2"></span>
        </button>

      </form>
    </div>
  </div>
</div>