.inner_div {
    grid-gap: 20px;
}
.heading_area .input_field {
    min-width: 280px;
    width: 280px;
    max-width: 100%;
}
.heading_area .input_field ng-select.form-control {
    min-width: 100% !important;
    width: 100% !important;
}
.no_result_found {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.no_result_found h3{    
    font-weight: 700;
}


@media only screen and (max-width:1550px){
   
 .common_button {
        font-size: 12px;
    }
}

@media only screen and (max-width:1440px){
    ::ng-deep .inner_content_area {
        padding: 30px 20px !important;
    }
    .page_head {
        font-size: 22px;
    }
    .heading_area .input_field {
        flex: unset;
    }
    .common_button{
        font-size: 12px;
        padding: 9px 14px;
    }
    .header_btns{
        justify-content: flex-end;
    }
}

@media only screen and (max-width:1339px){
    .header_btns{
        justify-content: flex-start;
    }
    .custom_gap {
        grid-gap: 20px !important;
    }
}