.table_outer .table td {
    vertical-align: unset;
}

.modal_design .modal_tabs form {
    margin-top: 30px;
}
.table_outer .table thead th:nth-child(2) {
    width: 280px;
}
.table_outer .table tbody td:nth-child(2) {
    font-weight: 700;
}

.desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
}

.desc.collapsed {
  -webkit-line-clamp: 3;
}

.desc:not(.collapsed) {
  -webkit-line-clamp: unset;
  overflow: visible;
}

.read-more {
  color: #12352f;
  font-weight: 600;
  cursor: pointer;
  font-size: 13px;
  display: inline-block;
  margin-top: 6px;
}

@media only screen and (max-width:1339px){
    .custom_gap {
        grid-gap: 20px !important;
    }
}
