.table_outer .table td {
    /* vertical-align: unset; */
}

.modal_design .modal_tabs form {
    margin-top: 30px;
}
.table_outer .table {
    table-layout: fixed;
    width: 100%;
}

.table_outer .table thead th:nth-child(1),
.table_outer .table tbody td:nth-child(1) {
    width: 72px;
    text-align: center;
}

.table_outer .table thead th:nth-child(2),
.table_outer .table tbody td:nth-child(2) {
    width: 64px;
    min-width: 64px;
    max-width: 64px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    vertical-align: middle;
}

.table_outer .table thead th:nth-child(3),
.table_outer .table tbody td:nth-child(3) {
    width: 20%;
    min-width: 200px;
    font-weight: 600;
}

.table_outer .table thead th:nth-child(4),
.table_outer .table tbody td:nth-child(4) {
    width: auto;
    min-width: 320px;
}

.desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
}

.desc.collapsed {
  -webkit-line-clamp: 3;
}

.desc:not(.collapsed) {
  -webkit-line-clamp: unset;
  overflow: visible;
}

.read-more {
  color: #96d1c7;
  font-weight: 600;
  cursor: pointer;
  font-size: 13px;
  display: inline-block;
  margin-top: 6px;
}

.program_img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    padding: 4px;
    background-color: var(--White-Color) !important;
    border-radius: 8px !important;
}

@media only screen and (max-width:1339px){
    .custom_gap {
        grid-gap: 20px !important;
    }
}
