<div class="d-flex align-items-center justify-content-center cancel_card">
  <!-- <div class="card shadow-lg border-0 text-center p-5" style="max-width: 500px;">
    <div class="mb-4">
      <i class="bi bi-x-circle-fill text-danger" style="font-size: 4rem;"></i>
    </div>
    <h2 class="fw-bold text-danger mb-3">Payment Canceled</h2>
    <p class="text-muted mb-4">
      Your payment was not completed. If this was a mistake, you can try again or choose another payment method.
    </p>
    <div class="d-grid gap-2">
      <button class="btn btn-primary" routerLink="/plan">
        Try Again
      </button>
      <button class="btn btn-outline-secondary" routerLink="/">
        Back to Home
      </button>
    </div>
  </div> -->

<div class="row align-items-center justify-content-center w-100">
  <div class="col-lg-5">
    <div class="payment_text">
        <h2>Payment Error</h2>
        <p>Your payment was not completed. If this was a mistake, you can try again or choose another payment method</p>

         <div class="payment_btn">
          <button class="btn_try_again common_button" routerLink="/plan">
            Try Again
          </button>
          <button class="btn_back " routerLink="/">
            Back to Home
          </button>
        </div>
    </div>
  </div>

  <div class="col-lg-5">
      <div class="payment_img">
          <img src="../../../../../assets/images/payment_error.png" alt="" class="payment-img-main">
      </div>
  </div>
</div>


</div>
