<div class="heading_area">
  <div class="row justify-content-between align-items-center">
    <div class="col-md-auto">
      <h3 class="page_head">Assigned Programs</h3>
    </div>
  </div>
</div>

<div class="table_outer">
  <table class="table table-striped" >
    <thead>
      <tr>
        <th>S.No.</th>
        <th>Program</th>
        <th>Program Year</th>
         <th>Location</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let program of programsResponse?.data; let i = index">
        <td>{{((currentPage-1) * pageSize ) +(i+1)}}</td>
        <td>{{program.programName}}</td>
        <td>{{ program.year }}</td> 
        <td>{{ program.location }}</td>
        <td>{{(program.score ?? 0).toFixed(1)}}</td>
      </tr>
    </tbody>
  </table>
  <app-pagination [totalPage]="totalRecords" [currentPage]="currentPage" [isLoader]="isLoader" [pageSize]="pageSize"
    (pageChange)="getPrograms($event)"></app-pagination>
  
</div>