<ng-container *ngIf="!isLoader">
	<div class="program_pillar">
		<div class="row justify-content-between align-items-end">
			<div class="col-md-auto">
				<div class="input_field">
					<label>Select Program *</label>
					<ng-select [items]="programs"
						[searchable]="true"
						[searchFn]="customSearchFn"
						[placeholder]="selectedPrograms == '' ? 'Select Program' : ''"
						[(ngModel)]="selectedPrograms"
						(change)="getProgramQuestionHistory()"
						bindValue="climateProgramID"
						bindLabel="programName"
						class="form-control analyst_multi_select">
						<ng-template ng-label-tmp
							let-item="item "
							class="select_item">
							{{ item.programName }} ({{item?.assignedBy || ''}})
						</ng-template>
						<ng-template ng-option-tmp
							let-item="item">
							{{ item.programName }}, {{ item.location }} ({{item?.assignedBy || ''}})
						</ng-template>
					</ng-select>
				</div>
			</div>		
		</div>

		<div *ngIf="chartPillarOptions && chartPillarOptions?.series"
			id="chartPillar"
			class="ahi-chart-panel">
			<apx-chart [series]="chartPillarOptions.series"
				[chart]="chartPillarOptions.chart"
				[xaxis]="chartPillarOptions.xaxis"
				[yaxis]="chartPillarOptions.yaxis"
				[colors]="chartPillarOptions.colors"
				[tooltip]="chartPillarOptions.tooltip"
				[plotOptions]="chartPillarOptions.plotOptions"
				[legend]="chartPillarOptions.legend"
				[fill]="chartPillarOptions.fill"
				[states]="chartPillarOptions.states"
				[dataLabels]="chartPillarOptions.dataLabels"
				[stroke]="chartPillarOptions.stroke"
				[grid]="chartPillarOptions.grid"
				class="cus_chart_right">
			</apx-chart>
		</div>
	</div>
	<div class="apx_chart_new">
		<div *ngIf="chartOptions?.series"
			class="card_heading">
			<h3>Program Overview</h3>
		</div>
		<apx-chart [series]="chartOptions.series!"
			[chart]="chartOptions.chart!"
			[plotOptions]="chartOptions.plotOptions!"
			[labels]="chartOptions.labels!"
			[legend]="chartOptions.legend!"
			[colors]="chartOptions.colors!">
		</apx-chart>
	</div>
</ng-container>


<div *ngIf="isLoader"
	class="loader_main">
	<div class="loader"></div>
</div>
