.see_response {
    border-radius: 50px;
    border: 1px solid #7AC2AE;
    padding: 5px 15px;
    color: #7AC2AE;
    /* font-family: 'Montserrat'; */
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    transition: 0.3s all;
}
.see_response:hover {
    border: 1px solid #304A43;
    color: #304A43;
}
.input_field {
    margin-bottom: 0;
}
.input_field .form-control {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8' fill='none'%3E%3Cpath d='M0.765098 1.70703L4.97795 5.91988C5.47548 6.41741 6.28962 6.41741 6.78715 5.91988L11 1.70703' stroke='%23888888' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center right 13px;
    color: #7a7a7a;
    height: auto;
    background-color: #ffffff;
    min-height: 36px;
    align-items: center;
    font-family: "Poppins", sans-serif !important;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    appearance: none !important;
    border-radius: 12px !important;
    padding: 10px 30px 10px 10px !important;
    border: 1px solid #d7d7d7 !important;
}

.inner_div {
    grid-gap: 20px;
}

.input_flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 10px;
    justify-content: flex-end;
}

.input_flex select{
    max-width: 234px;
    width: 100%;
}

.no_result_found {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.no_result_found h3{    
    font-weight: 700;
}



@media only screen and (max-width:1550px){
    .heading_area .input_field .form-control {
    width: 180px !important;
}
 .common_button {
        font-size: 12px;
    }
}

@media only screen and (max-width:1440px){
    ::ng-deep .inner_content_area {
        padding: 30px 20px !important;
    }
    .page_head {
        font-size: 22px;
    }
    .heading_area .input_field {
        flex: unset;
    }
    .common_button{
        font-size: 12px;
        padding: 9px 14px;
    }
    .heading_area .input_field .form-control{
        width: 160px !important;
        padding-right: 30px;
    }
    .header_btns{
        justify-content: flex-end;
    }
}

@media only screen and (max-width:1339px){
    .header_btns{
        justify-content: flex-start;
    }
    .custom_gap {
        grid-gap: 20px !important;
    }
}