<ng-container *ngIf="!isLoader">
  <div class="heading_area">
    <div class="row justify-content-between align-items-center gap-2">
      <div class="col-md-auto">
        <h3 class="page_head">Assessment Comparision</h3>
      </div>
      <div class="col-md-6">
        <div class="input_field input_flex">
          <select [(ngModel)]="selectedPillarID" name="piller" class="form-control" (change)="getResponsesByUserId()">
            <option value="">All Pillars</option>
            <option *ngFor="let piller of pillers" [value]="piller.pillarID">
              {{ piller.pillarName }}
            </option>
          </select>
          <select [(ngModel)]="selectedYear" name="selectedYear" class="form-control" (change)="getResponsesByUserId()">
            <option *ngFor="let year of commonService.applicateYears" [value]="year">
              {{ year }}
            </option>
          </select>
          <select [(ngModel)]="selectedCountries" name="countryID" class="form-control" (change)="getResponsesByUserId()">
            <option *ngFor="let country of countries" [value]="country.countryID">
              {{ country.countryName }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
 <div class="pillar-comparison-container">
    <div class="outer_graph">
      <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [xaxis]="chartOptions.xaxis!"
        [yaxis]="chartOptions.yaxis!" [dataLabels]="chartOptions.dataLabels!" [tooltip]="chartOptions.tooltip!"
        [legend]="chartOptions.legend!" [plotOptions]="chartOptions.plotOptions!" [grid]="chartOptions.grid!"
        [stroke]="chartOptions.stroke!" [colors]="chartOptions.colors!"></apx-chart>
    </div>

    <!-- Pagination -->
    <ng-container *ngIf="totalRecords > pageSize">
      <div class="pagination-wrapper">
        <app-pagination [selectedYear]="selectedYear" [totalPage]="totalRecords" [currentPage]="currentPage" [pageSize]="pageSize"
          [isLoader]="isLoader" (pageChange)="compareCountries($event)">
        </app-pagination>
      </div>
    </ng-container>
  </div>
  <div class="row justify-content-between align-items-end mb-4">
    <div class="col-md-auto">
      <h3 class="page_head mt-5 mb-3">Assessment Details</h3>
    </div>
    <div class="col-md-auto" >
      <button class="common_button mb_15" [disabled]="isPillarHistroyDownloading" (click)="exportPillarsHistoryByUserId()">
        Export
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffffff" viewBox="0 0 256 256">
          <path
            d="M216,112v96a16,16,0,0,1-16,16H56a16,16,0,0,1-16-16V112A16,16,0,0,1,56,96H80a8,8,0,0,1,0,16H56v96H200V112H176a8,8,0,0,1,0-16h24A16,16,0,0,1,216,112ZM93.66,69.66,120,43.31V136a8,8,0,0,0,16,0V43.31l26.34,26.35a8,8,0,0,0,11.32-11.32l-40-40a8,8,0,0,0-11.32,0l-40,40A8,8,0,0,0,93.66,69.66Z">
          </path>
        </svg>
        <span *ngIf="isPillarHistroyDownloading" class="spinner-border spinner-border-sm ms-2"></span>
      </button>
    </div>
  </div>
  <div class="evaluater_design">
    <div class="table_responsive">
      <ng-container *ngIf="!isLoader && pillarColumns && pillarColumns.length > 0">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
          <!-- Dynamic Columns -->
          <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef>
              {{ column == "pillarName" ? "Pillar Name" : userMap.get(+column) }}
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="single_pillar">
                <ng-container *ngIf="column === 'pillarName'">
                  <div class="expand-toggle" (click)="toggleRow(element)">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect y="10.4961" width="24" height="3" rx="1.5" fill="white" />
                      <rect x="10.5" y="23.9961" width="24" height="3" rx="1.5" transform="rotate(-90 10.5 23.9961)"
                        fill="white" />
                    </svg>
                  </div>
                  <span class="pillar_name">
                    {{ element[column] ?? "-" }}
                  </span>
                </ng-container>
                <ng-container *ngIf="column !== 'pillarName'">
                  <span class="pillar_name">
                    Total Score :
                    <span class="score_col">{{ element[column] ?? "-" }}</span>
                  </span>
                </ng-container>
              </div>
            </td>
          </ng-container>

          <!-- Header Row -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

          <!-- Data Row -->
          <tr mat-row *matRowDef="let row; columns: displayedColumns" class="row-element"
            [class.expanded]="expandedElement === row"></tr>

          <!-- Expanded Detail Row -->
          <tr mat-row *matRowDef="let row; columns: ['detail']" class="detail-row"></tr>

          <!-- Detail Column -->
          <ng-container matColumnDef="detail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <!-- Sub-table only for expanded row -->
              <div *ngIf="expandedElement === element" class="bg-gray-50 rounded">
                <table mat-table [dataSource]="questionsPillars" class="mat-elevation-z2 w-full">
                  <!-- Dynamic Question Columns -->
                  <ng-container *ngFor="let col of displayedQuestionColumns" [matColumnDef]="col">
                    <th mat-header-cell *matHeaderCellDef>
                      {{ col == "question" ? "Questions" : userMap.get(+col) }}
                    </th>
                    <td mat-cell *matCellDef="let row; let i = index">
                      <!-- Question Column -->
                      <span *ngIf="col === 'question'" class="question_name_single">
                        {{ i + 1 }} - {{ row.question }}
                      </span>

                      <!-- User Columns -->
                      <ng-container *ngIf="col !== 'question'">
                        <ng-container *ngIf="
                            row[col]?.optionText && row[col]?.justification;
                            else noData
                          ">
                          <span [matTooltip]="row[col]?.optionText">
                            <b>Score:</b> {{ row[col]?.score ?? "-" }}
                          </span>
                          <div class="expand-toggle">
                            <span [matTooltip]="row[col]?.justification">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 
                                  1.123 2.994 2.707 3.227 1.129.166 2.27.293 
                                  3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 
                                  1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 
                                  3.423-.379c1.584-.233 2.707-1.626 
                                  2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 
                                  48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 
                                  3.746 2.25 5.14 2.25 6.741v6.018Z" />
                              </svg>
                            </span>
                          </div>
                        </ng-container>
                        <ng-template #noData>-</ng-template>
                      </ng-container>
                    </td>
                  </ng-container>

                  <!-- Sub-table header & rows -->
                  <tr mat-header-row *matHeaderRowDef="displayedQuestionColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedQuestionColumns"></tr>
                </table>
              </div>
            </td>
          </ng-container>
        </table>
      </ng-container>

      <ng-container *ngIf="pillarColumns?.length == 0 && !isLoader">
        <div class="no_result_found">
          <div class="no_result_found_inner">
            <h3 *ngIf="selectedYear == currentYear"><i class="fas fa-search"></i> No Result Found</h3>
            <h3 *ngIf="selectedYear != currentYear"><i class="fas fa-search"></i> No result from previous year </h3>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>

<div *ngIf="isLoader" class="loader_main">
  <div class="loader"></div>
</div>