<div class="heading_area">
    <div class="row justify-content-between align-items-center">
        <div class="col-md-auto">
            <h3 class="page_head">View Kpi Layers</h3>
        </div>
        <div class="col-md-3 ms-auto">
            <div class="compare_select input_field input_flex">
                <select [(ngModel)]="selectedYear" (change)="GetAnalyticalLayerResults()" name="selectedYear"
                    class="form-control analyst_multi_select">
                    <option *ngFor="let year of commonService.applicateYears" [value]="year">
                        {{ year }}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="compare_select input_field input_flex">
                <ng-select [items]="kpis" [searchable]="true" [placeholder]="!selectedkpiLayerID ?'Search by Kpis':''"
                    [(ngModel)]="selectedkpiLayerID" [searchFn]="customSearchFn" (change)="kpiChanged()"
                    bindValue="layerID" bindLabel="layerNmme" class="form-control analyst_multi_select">
                    <ng-template ng-label-tmp let-item="item" class="select_item">
                        {{ item.layerCode }}
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item">
                        ({{ item.layerCode }}) {{ item.layerName }}
                    </ng-template>
                </ng-select>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="compare_select input_field input_flex">
                <ng-select [items]="countryList" [searchable]="true" [placeholder]="!selectedCountryID? 'Select Countries' :''"
                    [(ngModel)]="selectedCountryID" (change)="GetAnalyticalLayerResults()" bindValue="countryID"
                    bindLabel="countryName" class="form-control analyst_multi_select">
                    <ng-template ng-label-tmp let-item="item" class="select_item">
                        {{ item.countryName }}
                    </ng-template>


                    <ng-template ng-option-tmp let-item="item">
                        {{ item.countryName }}, {{ item.continent }} ({{ item.score?.toFixed(1) || 'NA'}})
                    </ng-template>
                </ng-select>


            </div>
        </div>


    </div>
</div>


<div class="table_outer compare_city_table">
    <div class="table_custom_inner">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Country</th>
                    <th>Kpi Layer</th>
                    <th>Condition</th>                    
                    <th>KPI Achievement</th>
                    <th class="action_th">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let kpi of kpiLayersResponse?.data; let i = index">
                    <td>
                        {{ (currentPage - 1) * pageSize + (i + 1) }}
                    </td>


                    <td>
                        <div class="kpi_city kpi_td_data">
                            <p>
                                {{ kpi.country?.countryName }}
                            </p>
                            ({{ kpi.country?.continent }})
                        </div>
                    </td>
                    <td>
                        <div class="kpi_layaer kpi_td_data">
                            <p>{{ kpi.layerName }}</p>
                            ({{kpi.layerCode}})
                        </div>
                    </td>
                    <td>
                        <div class="kpi_layaer kpi_td_data">
                            <p>
                                {{ getConditionByid(kpi) }}
                            </p>
                        </div>
                    </td>                    
                    <td>
                        <div class="kpi_cat05 kpi_td_data">
                            <app-circular-score [value]="kpi.calValue5  ?? 0"
                                [tooltipText]="'Evaluation : ' + (kpi.calText5 || '')"></app-circular-score>
                            <app-circular-score [value]="kpi.aiCalValue5  ?? 0"
                                [tooltipText]="'Ai : ' + (kpi.calText5 || '')"></app-circular-score>
                        </div>
                    </td>
                    <td class="action_td">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="action_icons">
                                            <a (click)="viewDetails(kpi); $event.preventDefault()"
                                                style="cursor: pointer" matTooltip="View">
                                                <span style="display: inline-block">View Details</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-pagination [selectedYear]="selectedYear" [totalPage]="totalRecords" [currentPage]="currentPage" [pageSize]="pageSize" [isLoader]="isLoader"
        (pageChange)="GetAnalyticalLayerResults($event)"></app-pagination>
</div>


<!-- Bootstrap 5 Offcanvas Sidebar -->
<div class="offcanvas offcanvas-end custom-sidebar kpi_sidebar" tabindex="-1" id="kpiLayerSidebar">
    <div class="offcanvas-body">
        <app-view-kpi-layer [selectedLayer]="selectedKpi"></app-view-kpi-layer>
    </div>
</div>