.input_field {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-gap: 10px;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
}
.heading_area .input_field ng-select.form-control {
    min-width: 100% !important;
    width: 100% !important;
}
.score_col {
    color:#1A7D5E !important;
    font-weight: 700 !important;
}
.user_name_active{
    color:#b5c4d6 !important;
}
.no_result_found {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.no_result_found h3{    
    font-weight: 700;
}


.desc {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
}

.desc.collapsed {
  -webkit-line-clamp: 5;
}

.desc:not(.collapsed) {
  -webkit-line-clamp: unset;
  overflow: visible;
}

.read-more {
  color: #3b9eff;
  font-weight: 600;
  cursor: pointer;
  font-size: 13px;
  display: inline-block;
  margin-top: 6px;
}
