<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-body">
            <div class="alert alert-info text-center mb-4 rounded-3 shadow-sm">
                <h4>Customize Your Access</h4><br />
                <ng-container *ngIf="!isPremium">
                    Select the <b>Pillars</b>, and <b>Programs</b> you want to work with.
                    You’ll only be able to view and manage data for the items you choose here.
                </ng-container>
                <ng-container *ngIf="isPremium">
                    Premium includes <b>all pillars</b>. Choose programs by selection or assign <b>All Programs</b>.
                </ng-container>
            </div>


            <div class="modal_tabs multi_select">


                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home">
                        <form [formGroup]="kpiForm" (ngSubmit)="onSubmit()">
                            <div class="input_field" *ngIf="!isPremium">
                                <label>Select Pillars *</label>
                                <ng-select [items]="pillars" bindValue="pillarID" bindLabel="pillarName"
                                    formControlName="pillars" [multiple]="true" [closeOnSelect]="false"
                                    [searchable]="true"
                                    class="form-control analyst_multi_select"
                                    [placeholder]="kpiForm.get('pillars')?.invalid ? 'Select Pillars' : ''"
                                    (change)="checkSelectionLimit('pillars')" [trackByFn]="trackByFn">
                                    <ng-template ng-label-tmp let-item="item">
                                        {{ item.pillarName }}
                                    </ng-template>

                                    <ng-template ng-option-tmp let-item="item">
                                        {{ item.pillarName }}
                                    </ng-template>
                                </ng-select>
                                <div class="error-msg"
                                    *ngIf="kpiForm.get('pillars')?.invalid && (isSubmitted || kpiForm.get('pillars')?.touched)">
                                    Please select at least one pillar.
                                </div>
                                <div *ngIf="limitMessages['pillars']" class="text-danger small mt-1">
                                    {{ limitMessages['pillars'] }}
                                </div>
                            </div>
                            <div class="input_field" *ngIf="isPremium">
                                <label>Pillars</label>
                                <p class="mb-0">Premium includes access to all pillars automatically.</p>
                            </div>

                            <div class="input_field" *ngIf="isPremium">
                                <label>Geographic Access *</label>
                                <div class="d-flex flex-wrap gap-3 mt-1">
                                    <label class="d-flex align-items-center gap-2 mb-0">
                                        <input type="radio" name="premiumGeoModeKpi" [checked]="premiumGeoMode === 'select'"
                                            (change)="onPremiumGeoModeChange('select')">
                                        <span>Select Programs</span>
                                    </label>
                                    <label class="d-flex align-items-center gap-2 mb-0">
                                        <input type="radio" name="premiumGeoModeKpi" [checked]="premiumGeoMode === 'all'"
                                            (change)="onPremiumGeoModeChange('all')">
                                        <span>All Programs</span>
                                    </label>
                                </div>
                            </div>

                            <div class="input_field" *ngIf="!isPremium || premiumGeoMode === 'select'">
                                <label>Assign Program *</label>
                                <ng-select [items]="programList" bindValue="climateProgramID" bindLabel="programName"
                                    formControlName="programs" [multiple]="true" [closeOnSelect]="false"
                                    class="form-control analyst_multi_select"
                                    [searchable]="true"
                                    [placeholder]="kpiForm.get('programs')?.invalid ? 'Assign Program' : ''"
                                    (change)="checkSelectionLimit('programs')">
                                    <ng-template ng-label-tmp let-item="item">
                                        {{ item.programName }},
                                    </ng-template>

                                    <ng-template ng-option-tmp let-item="item">
                                        {{ item.programName }}, {{ item.location }}
                                    </ng-template>
                                </ng-select>
                                <div class="error-msg"
                                    *ngIf="kpiForm.get('programs')?.invalid && (isSubmitted || kpiForm.get('programs')?.touched)">
                                    Please select at least one program.
                                </div>
                                <div *ngIf="limitMessages['programs']" class="error-msg">
                                    {{ limitMessages['programs'] }}
                                </div>
                            </div>
                            <div class="input_field" *ngIf="isPremium && premiumGeoMode === 'all'">
                                <label>Assign Program *</label>
                                <p class="mb-0">All programs will be assigned by the server.</p>
                            </div>

                            <button type="submit" class="common_button w-100 mt-4">
                                {{'Save' }}
                                <span *ngIf="loading" class="spinner-border spinner-border-sm ms-2"></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>