<div class="modal-dialog modal-dialog-centered transfer_popup">
    <div class="modal-content">
        <div class="modal-body">

            <!-- Close -->
            <button type="button" class="btn-close close-btn" (click)="closeModel()" aria-label="Close">
            </button>

            <h4 class="modal_head">Add Comment on AI Research</h4>

            <form [formGroup]="commentForm" (ngSubmit)="submit()">

                <!-- Country Info -->
                <div class="details_list" *ngIf="country">
                    <div>
                        <strong>Country:</strong>
                        <span> {{ country.countryName }}, {{ country.continent }}</span>
                    </div>
                    <div>
                        <strong>Evaluator Score:</strong>
                        <span> {{ country.evaluatorScore }}</span>
                    </div>
                    <div>
                        <strong>Ai Score:</strong>
                        <span> {{ country.aiProgress }}</span>
                    </div>
                    <div>
                        <strong>Discrepancy:</strong>
                        <span> {{ country.discrepancy }}</span>
                    </div>

                </div>

                <!-- Comment -->
                <div class="form-group mt-3">
                    <label class="form-label">Comment</label>
                    <textarea class="form-control" rows="4" placeholder="Add your comment here..."
                        formControlName="comment">
                    </textarea>

                    <!-- Validation -->
                    <div class="error" *ngIf="commentForm.get('comment')?.touched &&
                      commentForm.get('comment')?.invalid">
                        <small *ngIf="commentForm.get('comment')?.errors?.['required']">
                            Comment is required.
                        </small>
                        <small *ngIf="commentForm.get('comment')?.errors?.['minlength']">
                            Comment must be at least 10 characters.
                        </small>
                    </div>
                </div>

                <!-- Submit -->
                <button type="submit" class="common_button w-100 mt-4" [disabled]="loading || commentForm.invalid">
                    Add Comment
                    <span *ngIf="loading" class="spinner-border spinner-border-sm ms-2">
                    </span>
                </button>

            </form>
        </div>
    </div>
</div>