.no_result_found {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.no_result_found h3{    
    font-weight: 700;
}

.bold_num {
    color: #77bd3e;
    font-weight: 800;
}

.export-icon-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
}
.export-count {
    position: absolute;
    top: -6px;
    right: -8px;
    background: #ffffff;
    color: #2f6f5e;
    font-size: 10px;
    font-weight: 600;
    border-radius: 50%;
    min-width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3px;
    box-shadow: 0 0 0 2px #3e7b69;
}

.action-header {
  color: var(--Light-Text-Color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 12px 15px;
  border-bottom: 0;
}

.action-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.global_Checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
  accent-color: #3e7b69; 
}



::ng-deep .analyst_multi_select .ng-option-selected {
  background-color: #e8f0ff !important;
  color: #006D77 !important;
  font-weight: 600;
}

/* Optional: hover style */
::ng-deep .analyst_multi_select .ng-option:hover {
  background-color: #f2f6ff !important;
}

::ng-deep .compare_select .ng-select-container {
    border: none !important;
    background-color: #ffffff !important;
    min-height: auto !important;
    height: 100% !important;
}
::ng-deep .compare_select  .ng-select-container:hover {
    box-shadow: none !important;
}
::ng-deep .compare_select .ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    box-shadow: none !important;
}
.compare_select .analyst_multi_select {
    flex: 1;
    height: auto;
    background-color: #ffffff;
    min-height: 36px;
    align-items: center;
    font-family: "Poppins", sans-serif !important;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    appearance: none!important;
    border-radius: 12px !important;
    padding: 6px 10px 6px 3px !important;
    border: 1px solid #d7d7d7 !important;
}

::ng-deep .compare_select .ng-value-container .ng-value {
    white-space: nowrap;
    padding: 2px 5px !important;
    border-radius: 5px !important;
    background-color: #006D77 !important;
    color: #ffffff !important;
}
::ng-deep .analyst_multi_select .ng-clear-wrapper {
    width: auto !important;
    height: 100%;
    order: 3;
}
::ng-deep .analyst_multi_select .ng-arrow-wrapper{
    padding-right: 0 !important;
}