<section class="vui_before_login vui_auth_page" *ngIf="!isSuccess">
    <div class="vui_before_login_cards ahi_auth_card ahi_auth_card--narrow">
        <figure class="vui_logo">
            <a ><img src="assets/images/Logo-health-large.png" alt=""></a>
        </figure>
        <h4 class="before_login_card_head">Forgot Password</h4>
        <p class="before_login_card_desc">Enter your username below to reset your password.</p>
        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
            <div class="input_field mb-0">
                <label for="">Email *</label>
                <input type="email" name="username" [(ngModel)]="email" required placeholder="Enter Email"
                    class="form-control" #emailRef="ngModel" />

                <!-- Error messages -->
                <div *ngIf="emailRef.invalid && emailRef.touched" class="text-danger mt-1">
                    <small *ngIf="emailRef.errors?.['required']">Email is required.</small>
                    <small *ngIf="emailRef.errors?.['email']">Invalid email format.</small>
                </div>
            </div>

            <button type="submit" class="common_button w-100 mt-4" [disabled]="myForm.invalid">
                Send Reset Link
                 <span *ngIf="loading" class="spinner-border spinner-border-sm ms-2"></span>
            </button>

            <div class="text-center mt-3">
                <a [routerLink]="['/auth/clientPortalLogin']" class="vui_reset_pass_link">Back to Log In</a>
            </div>
        </form>
    </div>
</section>


<app-account-pop-up *ngIf="isSuccess"
(event)="popUpEvent()"
[title]="'Email Sent'"
[text]="'A password reset link has been sent to your email.'"
[buttonText]="'Go to Log In'"
></app-account-pop-up>