.error-msg {
  color: red;
  font-size: 12px;
  margin-top: 2px;
}
.wrong_upload_alert p {
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: block;
    margin-bottom: 10px;
    margin-left: 5px;
    color: red;
}

.pp_pic
{
  height: 48px;
  width: 100px;
  border-radius: 12px;
  object-fit: cover;
}
::ng-deep .analyst_multi_select  .ng-select-container {
    border: 0;
    min-height: 30px;
    outline: none !important;
    box-shadow: none !important;
}
::ng-deep .analyst_multi_select  .ng-select-container .ng-value-container {
    padding: 0 !important;
}
 
::ng-deep .analyst_multi_select .ng-option-selected {
    background-color: #e8f0ff !important;
    color: #304a43 !important;
    font-weight: 600;
}