<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

        <div class="modal-body">
            <button type="button" (click)="closeModel()" class="btn-close" ></button>
            <h4 class="modal_head"> {{countryUser ?'Update':'Add' }} Country User</h4>
            <p class="modal_sub_head">Enter The details and marked</p>
            <div class="modal_tabs">
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                            aria-selected="true">{{countryUser ?'Update':'Add' }} Single</button>
                    </li>
                    <!-- <li class="nav-item" role="presentation" *ngIf="!countryUser">
                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                            aria-selected="false">Bulk Import</button>
                    </li> -->
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home">
                        <form [formGroup]="countryUserForm" (ngSubmit)="onSubmit()">

                            <!-- Full Name -->
                            <div class="input_field">
                                <label>Full Name *</label>
                                <input type="text" formControlName="fullName" appAlphaOnly placeholder="Enter Full Name"
                                    class="form-control">
                                <div class="error-msg"
                                    *ngIf="countryUserForm.get('fullName')?.invalid && (countryUserForm.get('fullName')?.touched || isSubmitted)">
                                    Full name is required.
                                </div>
                            </div>

                            <!-- Email -->
                            <div class="input_field">
                                <label>Email *</label>
                                <input type="email" formControlName="email" placeholder="Enter Email"
                                    class="form-control">
                                <div class="error-msg" *ngIf="countryUserForm.get('email')?.touched || isSubmitted">
                                    <span *ngIf="countryUserForm.get('email')?.errors?.['required']">Email is
                                        required.</span>
                                    <span *ngIf="countryUserForm.get('email')?.errors?.['email']">Invalid email
                                        format.</span>
                                    <span *ngIf="countryUserForm.get('email')?.errors?.['emailExists']">Email is
                                        already taken.</span>
                                </div>
                            </div>

                            <div class="input_field">
                                <label>Phone No.*</label>
                                <input type="text" formControlName="phone" placeholder="Enter phone number"
                                    class="form-control" minlength="10" maxlength="15" (keypress)="numberOnly($event)">
                                <div class="error-msg"
                                    *ngIf="countryUserForm.get('phone')?.invalid && (countryUserForm.get('phone')?.touched || isSubmitted)">
                                    Phone number is required.
                                </div>
                            </div>                       
                            
                            <div class="input_field">
                                <label>Tier Plan*</label>
                                <ng-select [items]="tierOptions" bindValue="value" bindLabel="label"
                                    formControlName="tier" [multiple]="false"
                                    class="form-control analyst_multi_select" [searchable]="false"
                                    [placeholder]="countryUserForm.get('tier')?.invalid ? 'Select tier plan' : ''">

                                    <ng-template ng-label-tmp let-item="item " class="select_item">
                                        {{ item.label }}
                                    </ng-template>

                                    <ng-template ng-option-tmp let-item="item">
                                        {{ item.label }}
                                    </ng-template>
                                </ng-select>


                                <div class="error-msg"
                                    *ngIf="countryUserForm.get('tier')?.invalid && (isSubmitted || countryUserForm.get('tier')?.touched)">
                                   Tier Plan is required.
                                </div>
                            </div>
                            <div class="input_field">
                                <label>Select Pillars *</label>
                                <ng-select [items]="pillars" bindValue="pillarID" bindLabel="pillarName"
                                    formControlName="pillars" [multiple]="true"
                                    class="form-control analyst_multi_select" [searchable]="true"
                                    [placeholder]="countryUserForm.get('pillars')?.invalid ? 'Select Pillars' : ''"
                                    (change)="checkSelectionLimit('pillars')" [trackByFn]="trackByFn">

                                    <ng-template ng-label-tmp let-item="item " class="select_item">
                                        {{ item.pillarName }}
                                    </ng-template>

                                    <ng-template ng-option-tmp let-item="item">
                                        {{ item.pillarName }}
                                    </ng-template>
                                </ng-select>


                                <div class="error-msg"
                                    *ngIf="countryUserForm.get('pillars')?.invalid && (isSubmitted || countryUserForm.get('pillars')?.touched)">
                                    Please select at least one pillar.
                                </div>
                                <div *ngIf="limitMessages['pillars']" class="error-msg">
                                    {{ limitMessages['pillars'] }}
                                </div>
                            </div>
                            <!-- Country Multi-Select -->
                            <div class="input_field">
                                <label>Assign Country *</label>
                                <ng-select [items]="countries" bindValue="countryID" bindLabel="countryName"
                                    formControlName="country" [multiple]="true"
                                    class="form-control analyst_multi_select" [searchable]="true"
                                    [placeholder]="countryUserForm.get('country')?.invalid ? 'Assign Country' : ''"
                                    (change)="checkSelectionLimit('country')">

                                    <ng-template ng-label-tmp let-item="item " class="select_item">
                                        {{ item.countryName}}
                                    </ng-template>

                                    <ng-template ng-option-tmp let-item="item">
                                        {{ item.countryName }}, {{ item.continent }}
                                    </ng-template>
                                </ng-select>


                                <div class="error-msg"
                                    *ngIf="countryUserForm.get('country')?.invalid && (isSubmitted || countryUserForm.get('country')?.touched)">
                                    Please select at least one country.
                                </div>
                                <div *ngIf="limitMessages['country']" class="error-msg">
                                    {{ limitMessages['country'] }}
                                </div>
                            </div>

                            <!-- Submit -->
                            <button type="submit" class="common_button w-100 mt-4">
                                {{countryUser ?'Update':'Save' }} <span *ngIf="loading"
                                    class="spinner-border spinner-border-sm ms-2"></span>
                            </button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
                        tabindex="0" *ngIf="!countryUser">
                        <div class="input_field">
                            <label for="">
                                Upload Excel File *
                                <a href="javascript:void(0)" (click)="downloadTemplate()" class="ms-2 text-primary"
                                    style="text-decoration: underline; cursor: pointer;">
                                    Download Template
                                </a>
                            </label>
                            <input #fileInput type="file" accept=".xlsx, .xls" (change)="onFileChange($event)"
                                class="form-control">
                        </div>
                        <div class="wrong_upload_alert">
                            <p>{{this.alertMsg}}</p>
                        </div>
                        <div class="d-flex justify-content-end mt-3">
                            <button type="button" class="common_button" [disabled]="!this.excelData?.length"
                                (click)="bulkImport()">
                                Import <span *ngIf="loading" class="spinner-border spinner-border-sm ms-2"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>