.city_card_outter {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
    height: 100%;
}

.city_card {
    flex: 1;
}

.city_card_ul {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 5px;
}

.city_card_ul li {
    background-color: rgb(48 74 67);
    padding: 3px 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}

.city_card_img .score {
    background-color: #A8E063;
    color: #ffffff;
    display: inline-block;
    padding: 3px 10px;
    font-size: 13px;
    border-radius: 50px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.city_cards_p {
    display: flex;
    align-items: center;
    font-weight: 600;
    grid-gap: 3px;
}

.city_cards_p path {
    fill: rgb(48 74 67);
}

.city_cards_disc {
    margin: 10px 0 15px;
}

.city_card_outter img {
    max-width: 400px;
    border-radius: 18px;
    height: 100%;
    object-fit: cover;
}

.city_card_inner {
    padding: 20px 0px;
}

.city_cards_h1 {
    font-size: 30px;
    line-height: normal;
    font-weight: 600;
}

.card_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 10px;
    flex-wrap: wrap;
}

.city_card_img,
.table_col_one {
    position: relative;
}

.accordion_icon .mat-mdc-tooltip-trigger svg {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 5px;
    background-color: var(--Primary-Color);
    transition: background .2s ease-in-out;
    margin-right: 10px;
}

/* .accordion_icon .cdk-column-pillarName {
    display: flex;
    flex-wrap: wrap;
} */
.accordion_icon .inactivePillar svg {
    opacity: 0.4;
}

.pillar_icon_outter {
    width: 25px;
    display: block;
    position: absolute;
    top: 12px;
}

.pillar_icon_outter+.mat-mdc-tooltip-trigger {
    width: calc(100% - 30px) !important;
    display: block;
    padding-left: 30px;
}


.cus_table .table th {
    background-color: #A8E063;
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
    white-space: nowrap;
}


.cus_table .score_label_tab {
    background: #006D77;
    color: #ffffff;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    display: inline-flex;
    font-weight: 600;
    font-size: 14px;
}

.cus_table .table td {
    font-size: 1.3rem;
    border-bottom: 1px solid #cccccc;
    vertical-align: middle;
}

.cus_table .table {
    margin: 0;
}

.cus_table {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 2rem #00000021;
    /* height: 100%; */
}

.cus_table .table tr:last-child td {
    border: 0;
}

h4.kpi_head_col {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #003d44;
}


.city_piller+app-ag-bar {
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
}

::ng-deep .city_piller + app-ag-bar > div {
    width: 100%;
}

span:empty, div:empty{
    display: none;
}
.integrate_outter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.kpi_table tr td {
    font-size: 13px !important;
}
.kpi_table tr td {
    font-size: 13px !important;
}
.integrate_list {
    flex: 1;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #f7f7f7;
    box-shadow: none !important;
}
.integrate_outter .outer_graph {
    width: 300px;
    max-width: 100%;
}
::ng-deep .integrate_outter .outer_graph ag-charts{
    height: 270px !important;
}

::ng-deep .ag-charts-wrapper {
    /* transform: scale(0.8); */
    max-width: 100%;
}

.kpi_score_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.kpi_cat_name{
    flex: 1;    
}

.kpi_custom_table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.kpi_custom_table th {
  background-color: #A8E063;
  color: #ffffff;
  font-weight: 600;
  padding: 8px;
  border: 1px solid #e5e7eb;
}

.kpi_custom_table td {
  padding: 8px;
  border: 1px solid #e5e7eb;
  transition: background-color 0.2s;
  font-size: 14px;    
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.kpi_custom_table tr:nth-child(even) {
  background-color: #f3f4f6;
}

/* .kpi_custom_table tr:hover td {
  background-color: #f9fafb;
} */
 /* .cross-pillar {
    background-color: #f7f7f7;
    padding: 30px;
    border-radius: 30px;
    border: 1px solid #e4e4e4;
} */
.cross-pillar h5{
    font-weight: 700;
    color: #000000;
}
.city_piller {
    background-color: #f7f7f7;
    padding: 20px;
    position: relative;
    border-radius: 15px;
    border: 1px solid #e4e4e4;
}
.cross-pillar_outter{
    border: 1px solid #e4e4e4;
    padding: 20px;
    border-radius: 15px;
}
.active_row td {
    background-color: #006D77;
    color: #ffffff;
}
.active_row td .score_label_tab {
    background-color: rgba(255,255,255,0.08) !important;
}
.last_data td {
    background-color: #006D77;
    color: #ffffff;
}
.last_data td span {
    color: #ffffff;
    background-color: #A8E063;
    white-space: nowrap;
    padding: 5px 8px;
    border-radius: 30px;
    margin-right: 5px;
}

button.btn-close:focus,
button.btn-close:focus-visible {
    box-shadow: 0 0 0 3px rgb(48 74 67); /* greenish glow */
    outline: none; /* remove default outline */
}
.kpi_custom_table td:last-child {
    width: 140px;
    max-width: 100%;
}
::ng-deep .kpi_sidebar .sidebar_table .bold_num {
    margin-top: 0;
}
.active_ai td {
   background-color: rgb(0 49 96 / 15%) !important;
}