
<app-header></app-header>
<div class="main_area">
  @if(cityUser===currentUser()?.role && pendingTier == currentUser()?.tier){
    
  }
  @else {
    <div class="sidebar_area">
      <app-sidebar></app-sidebar>
    </div>
  }
  <div class="content_area">
    <router-outlet>
    
    </router-outlet>
  </div>
</div>

<!-- 
// ai assisstant only available for admin, analyst or paid user only
@if((currentUser()?.role !== evaluator && cityUser!==currentUser()?.role) || (cityUser===currentUser()?.role && pendingTier != currentUser()?.tier)){
   <app-chat-container></app-chat-container>    
} -->

