.main_area
{
    display: flex;
    flex-wrap: wrap;
    background: var(--Page-Bg, #040A1D);
    min-height: 100vh;
    padding-bottom: 12px;
}

.sidebar_area
{
    width: 380px;
    padding: 0 16px 20px 20px;
}

.content_area
{
    flex: 1;
    padding-bottom: 12px;
    padding-right: 20px;
    width: calc(100% - 380px);
}

@media only screen and (max-width:1540px) {
  .sidebar_area{
      width: 330px;
      padding: 0 10px 20px 12px;
  }
  .content_area {
      padding-right: 12px;
      width: calc(100% - 330px);
  }
}

@media only screen and (max-width:1339px){
    ::ng-deep .main_area .inner_sidebar .nav_links{
        font-size: 14px;
    }
    ::ng-deep .main_area .inner_sidebar {
        padding: 16px 12px 18px;
        border-radius: 14px;
    }
    ::ng-deep .main_area .nav_links svg {
        width: 22px;
        height: auto;
    }
    ::ng-deep .main_area .sub_menu .nav_links svg {
        width: auto;
        height: auto;
    }
    .main_area .sidebar_area{
        width: 300px;
    }
    ::ng-deep .dashboard_card_inner span {
        padding: 10px !important;
        width: 50px !important;
        height: 50px !important;
    }
    ::ng-deep .program_pillar .input_field {
        min-width: 100px !important;
    }
}


@media only screen and (max-width:767px){
    .sidebar_area {
        width: 100%;
    }
}
