::ng-deep app-city-details {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  /* modern version of grid-gap */
}

/* Target first two bars */
::ng-deep app-city-details .city_piller {
  flex: 0 0 auto;
  width: calc(66.6% - 6px);
}

/* Target third (or last) bar */
::ng-deep app-city-details app-ag-bar:nth-child(2) {
  flex: 1;
}

::ng-deep app-city-details .outer_graph {
  width: 100%;
}


.city_piller {
  background-color: #fff;
  padding: 20px;
  position: relative;
  border-radius: 15px;
}

.city_piller>.input_field .analyst_multi_select {
  width: 220px;
  padding: 0;
  border: 0;
}

.city_piller>.input_field .analyst_multi_select input[type="text"] {
  line-height: 26px;
}

.city_piller+app-ag-bar {
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
}

::ng-deep .city_piller+app-ag-bar>div {
  width: 100%;
}

.outer_graph {
  border-radius: 15px;
  overflow: hidden;
  padding-top: 30px;
  background-color: #ffffff;
  flex: 1;
}

app-city-details {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  /* modern version of grid-gap */
}

/* Target first two bars */
app-city-details .city_piller {
  flex: 0 0 auto;
  width: calc(66.6% - 6px);
}

/* Target third (or last) bar */
app-city-details app-ag-bar:nth-child(3) {
  flex: 1;
}

.input_field {
  margin-bottom: 0;
}

.input_field .form-control {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8' fill='none'%3E%3Cpath d='M0.765098 1.70703L4.97795 5.91988C5.47548 6.41741 6.28962 6.41741 6.78715 5.91988L11 1.70703' stroke='%23888888' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center right 13px;
  color: #7A7A7A;
  /* font-family: 'Montserrat'; */
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.input_flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 10px;
}

.input_flex select {
  flex: 1;
}

/* Parent div acts like a button */
/* .expand-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 25px;
  height: 25px;
  padding: 4px;
  border-radius: 5px;
  background-color: var(--Primary-Color);
  transition: background .2s ease-in-out;
  margin-right: 10px;
} */

/* .expand-toggle:hover {
  background: var(--Hover-Primary-color);
} */

/* SVG resize */
.expand-toggle svg {
  width: 13px;
  height: 13px;
}

.outer_graph {
  border-radius: 15px;
  overflow: hidden;
  padding-top: 30px;
  background-color: #ffffff;
}

.evaluater_design {
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  padding: 25px;
}

.single_pillar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.pillar_name {
  flex: 1;
  color: var(--Light-Text-Color);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  max-width: 300px;
}

.evaluater_design * {
  font-family: Montserrat, sans-serif !important;
}

.evaluater_design th {
  text-transform: capitalize;
}

.evaluater_design td,
.evaluater_design th {
  padding: 10px 20px;
  border-color: #dee2e6;
  background-color: #ffffff;
}

.evaluater_design .mat-mdc-row {
  height: auto !important;
}

.evaluater_design .detail-row td {
  padding: 0;
  border: 0;
}

.evaluater_design .expanded+.detail-row td {
  border-bottom: 1px solid #dee2e6;
}

.evaluater_design .expanded .expand-toggle rect:last-child {
  visibility: hidden;
}

.evaluater_design .mat-elevation-z2 tr td {
  padding: 10px 20px;
}

.question_name_single {
  color: var(--Light-Text-Color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: block;
  width: 300px;
}

.evaluater_design .mat-elevation-z8>tbody tr td:first-child {
  position: sticky;
  left: 0;
  z-index: 99;
}

.evaluater_design .mat-elevation-z8 tr th:not(:first-child),
.evaluater_design .mat-elevation-z8 tr td:not(:first-child) {
  text-align: center;
}

.evaluater_design .mat-elevation-z8 tr th:first-child,
.evaluater_design .mat-elevation-z8 tr td:first-child,
.evaluater_design .mat-elevation-z2 tr th:first-child,
.evaluater_design .mat-elevation-z2 tr td:first-child {
  padding-left: 0 !important;
  position: sticky;
  width: 500px;
  left: 0;

}


/* .evaluater_design .mat-elevation-z8 tr th:has(:nth-child(3)),
.evaluater_design .mat-elevation-z8 tr td:has(:nth-child(3)),
.evaluater_design .mat-elevation-z2 tr th:has(:nth-child(3)),
.evaluater_design .mat-elevation-z2 tr td:has(:nth-child(3))
{

} */

.evaluater_design .mat-elevation-z2 tr td .expand-toggle {
  margin: 0 auto;
}

.evaluater_design .mat-elevation-z2 tr td .expand-toggle svg {
  stroke: #ffffff;
}


.table_responsive {
  overflow-x: auto;
}

/* .table_responsive > .mat-mdc-table
{
min-width: max-content;
} */

.mb_15 {
  margin-bottom: 15px;
}

.score_col {
  color: #77bd3e !important;
  font-weight: 700 !important;
}

.no_result_found {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  text-align: center;
  color: #6c757d;
  /* subtle grey */
}

.no_result_found h3 {
  font-weight: 600;
  /* semi-bold, cleaner */
  font-size: 20px;
  color: #495057;
  /* darker grey for text */
  letter-spacing: 0.5px;
}

.inactivePillar {
  /* background-color: #fbe8e8; */
  color: #878c8c;
}

.accordion_icon .mat-mdc-tooltip-trigger svg {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 5px;
    background-color: var(--Primary-Color);
    transition: background .2s ease-in-out;
    margin-right: 10px;
}
/* .accordion_icon .cdk-column-pillarName {
    display: flex;
    flex-wrap: wrap;
} */
.accordion_icon .inactivePillar svg {
    opacity: 0.4;
}
.pillar_icon_outter {
    width: 25px;
    display: block;
    position: absolute;
    top: 12px;
}
.pillar_icon_outter + .mat-mdc-tooltip-trigger {
    width: calc(100% - 30px) !important;
    display: block;
    padding-left: 30px;
}

.apx_chart_new {
    flex: 1;
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    box-shadow: 0px 7px 20px 0px rgb(0 0 0 / 5%);
    flex-direction: column;
}
.card_heading {
    border-bottom: 1px solid #e9ebec;
    padding: 16px;
}
.card_heading h3{
    font-size: 18px;
    margin: 0;
}



@media only screen and (max-width:1530px){
    .dashboard_number h4 {
        font-size: 20px;
        line-height: 40px;
    }
    .dashboard_number h5 {
        font-size: 16px;
    }
    .main_area .sub_menu .nav_links svg {
        width: auto;
        height: auto;
    }
    .content_area .inner_content_area{
        padding: 30px !important;
    }
}

@media only screen and (max-width:1300px){
     .content_area .inner_content_area {
        padding: 20px;
    }
}