.city_card_outter {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
    height: 100%;
}

.city_card {
    flex: 1;
}



.city_card_img .score {
    background-color: #77bd3e;
    color: #ffffff;
    display: inline-block;
    padding: 3px 10px;
    font-size: 13px;
    border-radius: 50px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.city_cards_p {
    display: flex;
    align-items: center;
    font-weight: 600;
    grid-gap: 3px;
}

.city_cards_p path {
    fill: rgb(48 74 67);
}

.city_cards_disc {
    margin: 10px 0 15px;
}

.city_card_outter img {
    max-width: 400px;
    border-radius: 18px;
    height: 100%;
    object-fit: cover;
}

.city_card_inner {
    padding: 20px 0px;
}

.city_cards_h1 {
    font-size: 30px;
    line-height: normal;
    font-weight: 600;
}

.card_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 10px;
    flex-wrap: wrap;
}

.city_card_img,
.table_col_one {
    position: relative;
}



.cus_table .table th {
    background-color: #77BD3E;
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
    white-space: nowrap;
}


.cus_table .score_label_tab {
    background: #006D77;
    color: #ffffff;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    display: inline-flex;
    font-weight: 600;
    font-size: 14px;
}

.cus_table .table td {
    font-size: 1.3rem;
    border-bottom: 1px solid #cccccc;
    vertical-align: middle;
}
.cus_table .table td:first-child {
    width: 260px;
    max-width: 100%;
}

.cus_table .table {
    margin: 0;
}

.cus_table {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 2rem #00000021;
    /* height: 100%; */
}

.cus_table .table tr:last-child td {
    border: 0;
}

h4.kpi_head_col {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #304a43;
}

span:empty, div:empty{
    display: none;
}
.integrate_outter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.kpi_table tr td {
    font-size: 13px !important;
}
.kpi_table tr td {
    font-size: 13px !important;
}
.integrate_list {
    flex: 1;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #f7f7f7;
    box-shadow: none !important;
}
.integrate_outter .outer_graph {
    width: 300px;
    max-width: 100%;
}



.cross-pillar h5{
    font-weight: 700;
    color: #000000;
}
.city_piller {
    background-color: #f7f7f7;
    padding: 20px;
    position: relative;
    border-radius: 15px;
    border: 1px solid #e4e4e4;
}
.cross-pillar_outter{
    border: 1px solid #e4e4e4;
    padding: 20px;
    border-radius: 15px;
}
.active_row td {
    background-color: #006D77;
    color: #ffffff;
}
.active_row td .score_label_tab {
    background-color: rgba(255,255,255,0.08) !important;
}
.last_data td {
    background-color: #006D77;
    color: #ffffff;
}
.last_data td span {
    color: #ffffff;
    background-color: #77BD3E;
    white-space: nowrap;
    padding: 5px 8px;
    border-radius: 30px;
}

button.btn-close:focus,
button.btn-close:focus-visible {
    box-shadow: 0 0 0 3px rgb(48 74 67); /* greenish glow */
    outline: none; /* remove default outline */
}

.integrate_outter .cross-pillar {
    margin-top: 15px;
}
.city_piller .city_card .common_button {
    margin-top: 10px;
}